<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    package="com.ttx.osagent">

    <uses-sdk
        android:minSdkVersion="29"
        android:targetSdkVersion="29"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round">

        <service
            android:name=".AosAgentService"
            android:enabled="true"
            android:exported="true">
        </service>

        <receiver
            android:enabled="true"
            android:exported="true"
            android:name=".receiver.BootUpReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>